@tailwind base;
@tailwind components;
@tailwind utilities;

input[type="text"]:read-only:focus,
input[type="number"]:read-only:focus,
input[type="text"]:read-only:hover,
input[type="number"]:read-only:hover {
  cursor: not-allowed;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  -moz-appearance: textfield;
}
